{
  "PrintKernelLog": true,

  "DebugModeEnabled": false,
  "LoadUserComponents": false,
  "FileSystemSandbox": true,
  "FastFileBuffers": false,
  "SandboxPath": "DuskSandbox",

  "ModifyUntrustedEnvironment": false,
  "UnionWithTrustedEnvironment": false,
  "AddBaseLibrary": true,
  "AddKernelReference": true,
  "AddTrustedEnvironmentReference": true
}