{
"PrintKernelLog":true,

"ModifyUntrustedEnvironment":false,
"UnionWithTrustedEnvironment":false,
"AddBaseLibrary":true,
"AddKernelReference":true,
"AddTrustedEnvironmentReference":true,

"DebugModeEnabled":false,
"LoadUserComponents":false,
"FileSystemSandbox":true,
"SandboxPath":"DuskSandbox"

}